build --cxxopt=-std=c++14
build --conlyopt=-std=gnu11
build --disk_cache=~/.bazel_disk_cache
build --spawn_strategy=sandboxed

build:debug --compilation_mode=dbg

build:asan --config=debug
build:asan --copt=-fsanitize=address
build:asan --linkopt=-fsanitize=address

build:msan --config=clang
build:msan --config=debug
build:msan --copt=-fsanitize=memory
build:msan --linkopt=-fsanitize=memory

build:tsan --config=debug
build:tsan --copt=-fsanitize=thread
build:tsan --linkopt=-fsanitize=thread

build:ubsan --config=debug
build:ubsan --copt=-fsanitize=undefined
build:ubsan --linkopt=-fsanitize=undefined
